/* Основні стилі */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Шапка */
header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.logo {
  display: block;
  text-decoration: none;
  color: inherit;
}

.logo h1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 1.2;
  font-weight: bold;
}

.logo-subtext {
  display: block;

  font-size: 12px;
  line-height: 1.2;

  color: #b4b4b4;
  font-style: italic;
}

.logo-wrap {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Навігація */
.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

/* Ефект при наведенні */
/* .nav-links a:hover {
  text-decoration: underline;
} */

/* Стиль для кнопки перемикання валют */
#currency-switch {
  min-width: 55px;
  height: 100%;

  font-size: 16px;
  font-weight: 500;
  line-height: 1;

  background-color: #333;
  color: #fff;
  border: 1px solid white;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

#currency-switch:hover {
  background-color: #555;  /* transform: scale(1.05); */
}

/*Налаштування іконок*/
.icons {
  display: flex;
  align-items: center;
}

.icons a {
  display: flex;
  color: #fff;
  margin-left: 1rem;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none; /* Приховуємо лічильник */
}

/*Налаштування SVG*/
svg[className="size-28"] {
  width: 28px;
  height: 28px;
  stroke-width: 1.3px;
}

svg[className="solid"] {
  width: 22px;
  height: 22px;
  stroke-width: 1px;
}

svg[className="size-12"] {
  width: 12px;
  height: 12px;
  stroke-width: 2px;
}

/* Бургер-меню */
.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 38px;
  height: 28px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.burger-menu span {
  width: 100%;
  height: 2px;
  background-color: #fff;
}

/* Адаптивність */
@media (max-width: 700px) {
  .burger-menu {
    display: flex;
  }

  .nav-links {
    opacity: 0; /* Початково невидиме */
    transform: translateY(-20px); /* Прибираємо в гору */
    display: none; /* Приховано за замовчуванням */
    flex-direction: column;
    white-space: nowrap;
    background-color: #333; /* Фон */
    position: absolute;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .nav-links.active {
    display: flex;
    width: 100%;
    left: 0;
    transform: translateY(36px); /* Повертаємо на місце */
    opacity: 1; /* Робимо видимим */
  }

  .nav-links li {
    margin: 0.3rem;
  }

  .icons {
    gap: 0.5rem;
  }

  .icons a {
    margin-left: 0.5rem;
  }
}



/* Слайдер */
.slider {
  display: flex;
  overflow: hidden; /* Ховає слайди, що виходять за межі контейнера */
  width: 100%; /* Контейнер займає всю ширину */
}

.slide {
  flex: 0 0 100%; /* Кожен слайд займає 100% ширини контейнера */
  text-align: center;
  transition: transform 0.5s ease-in-out; /* Анімація зміни слайдів */
  opacity: 1; /* Встановлюємо видимість слайдів */
}

.slider .slide h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  color: #007BFF;
}

.slider .slide p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 1.5rem;
}



  h2 {
    margin: 1rem;

    font-size: 28px;
    line-height: 1.2;
    font-weight: bold;

    color: #007BFF
  }
      
  /* Головна секція */
  .hero {
    padding: 2rem;
    text-align: center;
  }

  .hero h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .hero p {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    color: #333;
  }

  .hero .highlight {
    font-size: 24px;
    font-weight: bold;
    color: #36b936;
  }

  /* Кнопка */
  .cta-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .hero .cta {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #36b936;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .hero .cta:hover {
    background-color: #36b936;
  }

  /* Секція форми */
  .contact-form {
    background-color: #f7f7f7;
    padding: 2rem;
    text-align: center;
  }
  
  .contact-form h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    max-width: 400px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
  
  .contact-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
  }

  /* Хлібні крихти */
  .breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
    font-size: 12px;
    font-weight: 700;
  }

  .breadcrumbs > * {
    padding-right: 0.3rem;
  }

  .breadcrumbs-link {
    color: gray;
  }

  /* Фільтри */
  .catalog {
    display: flex;
    align-items: flex-start;
  }

    /* Загальний контейнер фільтрів */
  .filters-container {
    width: 30%;
    margin: 0 1rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    font-family: Arial, sans-serif;
  }

  /* Заголовок акордеону */
  .accordion-header {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .accordion-header::after {
    content: "+";
    font-size: 1.2rem;
    transition: transform 0.3s ease;
  }

  .accordion-header.active::after {
    content: "-";
  }

  /* Вміст акордеону */
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
  }

  .accordion-content.open {
    max-height: 200px; /* Максимальна висота для відображення вмісту */
    padding: 0.5rem 0;
  }

  /* Чекбокси та радіо-кнопки */
  label {
    display: block;
    margin: 0.5rem 0;
    font-size: 0.9rem;
    color: #555;
    cursor: pointer;
  }

  input[type="checkbox"],
  input[type="radio"] {
    margin-right: 0.5rem;
  }

  /* Кнопка "Скасовувати" */
  .cancel-btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
  }

  .cancel-btn:hover {
    background-color: #c0392b;
  }
  
  /* Сітка товарів */
  .product-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    width: 100%;
    padding-right: 1rem;
    padding-bottom: 2.5rem;

    justify-content: flex-start; /* Вирівнюємо картки по лівому краю */
  }

  .product-card {
    width: calc(100% / 3 - 0.8rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Розподіл елементів по вертикалі */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
  }

  .product-card:hover {
    transform: translateY(-5px);
  }
  
  .product-card img {
    width: 100%;
    height: 200px;
    padding: 1rem;
    object-fit: contain;
    box-sizing: border-box;
  }
  
  .product-card .details {
    flex-grow: 1; /* Дозволяє блоку займати весь доступний простір */
    display: flex;
    flex-direction: column; /* Вирівнювання елементів вертикально */
    justify-content: space-between; /* Рівномірний розподіл елементів */
    padding: 12px;
    text-align: left; /* Вирівнюємо текст по лівому краю */
  }
  
  .product-card .name {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 10px 0;
  }
  
  .product-card .availability {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 5px; /* Відступ між іконкою та текстом */
  }

  /* Ціна зі знижкою */
  .price {
    color: #e74c3c; /* Червоний колір для ціни зі знижкою */
    font-weight: bold;
  }

  /* Ціна без знижки */
  .price.no-discount {
    color: #000; /* Чорний колір для звичайної ціни */
    font-weight: normal;
  }

  .product-card .discount {
    font-size: 0.8rem;
    font-weight: 600;
    color: #999;
    text-decoration: line-through;
    margin: 10px 0 0 0;
  }
  
  .product-card .price {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0 0 10px 0;
  }  
  
  .product-card button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 0 8px 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
  }

  /* Наявність товару */
  .product-card button:hover {
    background: #0056b3;
  }

  .availability {
    font-weight: bold;
  }
  
  .availability.in-stock {
    color: green;
  }
  
  .availability.out-of-stock {
    color: rgb(129, 129, 129);
  }

  /* Стиль для блідної ціни, якщо товару немає в наявності */
  .price.faded {
  font-size: 1.8rem;
  font-weight: bold;
  color: #999; /* Світло-сірий колір */
  font-style: italic; /* Додаємо нахилений текст */
  }

  /* Кнопка "Забронювати" */
  button.reserve {
  background-color: grey; /* Помаранчевий колір кнопки */
  color: #fff; /* Білий текст */
  font-size: 1rem;
  border: none;
  padding: 10px;
  border-radius: 0 0 8px 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  }

  button.reserve:hover {
  background-color: rgb(77, 77, 77); /* Темніший помаранчевий при наведенні */
  }

  /* Підвал */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }

  a {
    color: #333;
    text-decoration: none;
  }

  @media (max-width: 900px) {
    .product-card {
      width: calc(100% / 2 - 0.8rem);
    }
  }
  
  @media (max-width: 700px) {
    .product-card {
      width: 100%;
    }
  }