/* Основні стилі */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Шапка */
  header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    text-align: center; /* Вирівнюємо текст по центру */
    display: inline-block; /* Робимо контейнер для тексту компактним */
    width: 100%; /* Ширина контейнера */
}

.logo h1 {
    font-size: 2.5rem; /* Розмір основного тексту */
    font-weight: bold; /* Жирний текст */
    margin: 0; /* Прибираємо зайві відступи */
}

.logo h1 span {
    display: block; /* Розміщуємо підзаголовок на новому рядку */
    font-size: 1.2rem; /* Зменшений розмір тексту */
    font-style: italic; /* Курсив */
    font-weight: normal; /* Тонший шрифт */
    color: #aaa; /* Контрастний колір */
    margin-top: 0.2rem; /* Відступ зверху */
    text-align: center; /* Центрування тексту */
}

.logo h1, 
.logo h1 span {
    width: 250px; /* Встановлюємо однакову ширину для обох текстів */
    display: inline-block; /* Щоб текст вирівнювався по ширині */
}

  nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 1rem;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li {
    margin-right: 1rem;
  }
  
  .icons a {
    color: #fff;
    margin-left: 1rem;
  }
  
  .icons a i {
    font-size: 1.5rem; /* або іншій потрібний розмір */
  }
  
  /* Головна секція */
  .hero {
    padding: 2rem;
    text-align: center;
  }
  
  .hero h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .hero p {
    margin-bottom: 1.5rem;
  }
  
  .cta {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
  }
  
  /* Секція форми */
  .contact-form {
    background-color: #f7f7f7;
    padding: 2rem;
    text-align: center;
  }
  
  .contact-form h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    max-width: 400px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
  
  .contact-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  /* Підвал */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }